.root {
  background-color: purple;
  color: yellow; 
  background-size: 100%;
}

.image {
  position: absolute;
  border: 0.6rem solid yellow;
  margin-top: 0.1rem;
  margin-left: -60rem;
  height: 12rem;
  width: 99vw;
}

.title {
  position: absolute;
  margin-top: 5rem;
  margin-left: -15rem;
  text-align: center;
}

.header {
  position: absolute;
  margin-top: 8rem;
  margin-left: -9.3rem;
  text-align: center;
}

.topNav {
  position: absolute;
  border: 0.3rem solid yellow;
  display: flex;
  justify-content: space-around;
  width: 20rem;
  height: 2.5rem;
  padding-top: 1rem;
  margin-top: 15rem;
  margin-left: -5.8rem;
}

